<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylelogin.css">
    <title>Login Flask </title>
</head>
<body>
    <div class="login-container">
        <h2>Area Riservata</h2>
        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">
        <div class="actions">
            <button onclick="auth('login')">Login</button>

          <p> Non hai un account?</p>  <a href="register.html" class="button.secondary">Registrati</a>
        </div>
        <p id="msg"></p>
    </div>
    <script src="script.js"></script>
</body>
</html>